.score{
    text-align: center;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 10px;
}

.lives{
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #666;
    margin-top: 5px;
}

.myCanvas {
    border: 2px solid #000;
    background-color: rgb(89, 158, 219);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    margin: 20px auto;}
